<h3>Aqui va a ir una lista</h3>

<a href="http://localhost:3000/">Home</a>

<% lista.forEach(function(lista){ %>
    <li> <%= lista %> </li>
<%}); %>

<form action="/addElemento" method="POST">
    <input type="text" name="newItem" placeholder="Qué?">
    <button>Añadir algo</button>
</form>