body{
    background-color: steelblue;
}

/* Contenedor 1  */
#container1{
    background-color: aquamarine;
}
/* inContainer 1  */

#inContainer1{
    width: 45%;
    background-color: rgb(165, 87, 42);
}
#pruebaIn1{
    float: right;
}


/* Contenedor 2 */
#container2{
    background-color: rgb(255, 202, 132);
}
/* inContainer 1  */

#inContainer2{
    width: 45%;
    margin-left: auto;
    background-color: blueviolet;
    text-align: right;
}
#pruebaIn2{
    float: left;
}


ul{
    font-size: 1.2rem;
    background-color: rgb(218, 246, 253);
}


/* jQuery objects */
.completado{
    color: grey;
    background: pink;
    text-decoration: line-through;
}
