body{
    background-color: rgb(48, 112, 165);
}

/*------------------- CONTENEDOR 1 -------------------*/
/* Contenedor 1  */
#container1{
    background-color: aquamarine;
}

    /* caja 1 */
    #caja11{
        float: right;
        width: auto;
        margin: right;
    }

    /* caja 2 */
    #caja12{
        width: 45%;
        margin-right: auto;
        background-color: rgb(165, 87, 42);
        text-align: left;
    }

/*--------------------------------------*/

/*------------------- CONTENEDOR 2 -------------------*/

/* Contenedor 2 */
#container2{
    background-color: rgb(255, 202, 132);
}

    /* caja 1 */
    #caja21{
        float: left;
        width: auto;

    }

    /* caja 2 */
    #caja22{
        width: 45%;
        margin-left: auto;
        background-color: blueviolet;
        text-align: right;
    }

/*--------------------------------------*/


/* objects */
.completado{
    color: grey;
    background: pink;
    text-decoration: line-through;
}

