<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="img/logo.png" />




    <style>
      .prueba{
            color: blueviolet;
            font-size: 200px;
      }
    </style>

    <link rel = "stylesheet" type = "text/css" href = "img/parts/css.css" />
 


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CV | Jaime Collado</title>
  </head>

  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <div id="idiomas">
          <a href="index.html" class="subheading">English</a>
          <span> --- </span>
          <a href="es.html" class="subheading">Spanish</a>
        </div>

      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-none d-lg-block">
          <img class=" img-profile rounded-circle mx-auto mb-2" src="img/perfil.jpg" alt="">
        </span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Overview</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Courses</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
<!--  
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Aims</a>
          </li>
-->
        </ul>
      </div>
    </nav>
      <!-- -----------Presentation----------- -->
    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Jaime






            <!-- zona prueba -->
            <span class="prueba">Collado</span> Cabot










          </h1>
          <div class="subheading mb-5"> 
            <a href="mailto:colladocabot@gmail.com">Colladocabot@gmail.com
            </a>
          </div>
          <p class="mb-5">I believe that programming is a type of art, create something from 0 to
              whatever you want/need/like. I don't have so much touch into this yet but,
         <br>
             all what im seeing, is just art; have to imagine something, give it form, give it soul.
         <br>I like this art.
          </p>
          <p>At the moment I don't have any good code, because everytime I try to build something,
             I realize that I need to learn more things, so I keep learning...  
          </p>
          <p>There is my Linkedin & GitHub acount. 
          </p> 

          <br>

            <li class="list-inline-item">
              <a target="_blank" href=" https://www.linkedin.com/in/jaime-collado-cabot-083b81193/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>

            <li class="list-inline-item">
              <a target="_blank" href="https://github.com/Jacolla">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

            <!-- -----------Courses section----------- -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Courses <br> & <br> Books</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Developer Bootcamp</h3>
              <div class="subheading mb-3">Udemy</div>
              <p>I'm doing Front-End and a little of Back-End,
                 It's done by Colt Steele, who has a good reputation about online teaching.
                 I must to confes that I thought this was easier
              <br>
                 but that just make it more interesting, seeing that, you can go really deep.
              </p>
              <p>This are the lenguage I touch in it: HTML5, CSS3, Bootstrap,
                   JavaScript, jQuery, NodeJS, Git, Github and YelpCamp. 
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">September 2018 - Actually</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Codecademy</h3>
              <div class="subheading mb-3">First walk's in programing</div>
              <p>In this course was were I've made my first's step's into programming,
                 learning the classic "Hello World" in HTML, then give it a bit of color with
                 CSS.
                 <br>
                 <br>
                 This is my profile in Codecademy: <a href="https://www.codecademy.com/profiles/JCC33">Profile</a>
              </p>
            </div>

            <div class="resume-date text-md-right">
              <span class="text-primary">August 2017 - March 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Books</h3>
              <p>These are some book I'm reading either.
                 <br>
                 <ul>
                   <li>Code Complete vol.2 (Steve McConnel, Microsoft)</li>
                   <li>Programación Python (Arturo Montejo Ráez, Salud Maria Jiménez Zafra, Anaya)</li>
                 </ul>
              </p>
            </div>
          </div>
      </section>


      <!-- -----------Skills section----------- -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>
          <div class="subheading mb-3">Lenguages that I know/I'm using</div>

<!-- ------------------------------------------------- -->
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicon-visualstudio-plain"></i>
            </li>    

            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>

            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            
            <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li>
            
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>

            <li class="list-inline-item">
              <i class="devicon-jquery-plain"></i>
            </li>
          </ul>
 <!-- ------------------------------------------------- -->
            <ul class="list-inline list-icons">
              <li class="list-inline-item">
                <i class="devicon-github-plain"></i>
              </li>

              <li class="list-inline-item">
               <i class="devicon-express-original"></i>
              </li>

              <li class="list-inline-item">
                  <i class="devicon-git-plain"></i>
              </li>

              <li class="list-inline-item">
                <i class="devicon-nodejs-plain"></i>
              </li>

              <li class="list-inline-item">
                <i class="devicon-ubuntu-plain"></i>
              </li>

          </ul>
            
          <!-- ------------------------------------------------- -->
          <div class="subheading mb-3">Actually learning</div>
          <ul class="list-inline list-icons">
            <ul class="list-inline list-icons">
              
              <li class="list-inline-item"> 
                <i class="devicon-python-plain"></i>
              </li>

              <li class="list-inline-item">
                <i class="devicon-mongodb-plain-wordmark"></i>
              </li>

              <li class="list-inline-item">
                <i class="devicon-mysql-plain"></i>
              </li>
              
              <li class="list-inline-item">
                <i class="devicon-react-original"></i>
              </li>

            </ul>
          </ul>

       <div class="subheading mb-3">Additional</div>
          <ul class="fa-ul mb-0">

            <li>
              <i class="fa-li fa fa-check"></i>
              Actively expanding my knowledge
            </li>

            <li>
              <i class="fa-li fa fa-check"></i>
              Passion for IT
            </li>

            <li>
              <i class="fa-li fa fa-check"></i>
              Adaptable to changes
            </li>

            <li>
              <i class="fa-li fa fa-check"></i>
              Autodidact
            </li>
            
          </ul>
        </div>
      </section>

<!--   
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Aims</h2>
          <p> I'd love to build an AI </p>
          <p class="mb-0"> </p>
        </div>
      </section>

    </div>
-->

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
</body>
</html>

