/* tamaño de la fuente seleccionada mediante em, que 1em=16px, que es
la seleccion estandart de la pagina web

para cambiar el tipo de fuente, se utiiza el font-family, font-variant
 */

 /* cuando le damos tamaño de " font " al " body ", le damos el tamño
 de base que le apliquemos al body, es decir, el resto se basara en el 
 tamaño de font del " body " */
 
 body{
	font-size: 20px;
}

h1{
	font-variant: small-caps;
	font-size: 2.1em;
}

p{font-size: 0.95em;
 font-variant: normal;
}

/* aqui el tamaño es 1.8% mas grande que " p ", porque esta dentro de " p "*/
span{
	font-family: sans-serif;
	font-size: 1.8em;
}