<h3>
    Cargada desde home.ejs, la moto de la foto es una : <%= thingVar %>
</h3>

<% if(thingVar === "honda"){ %>
    <h4>Ya ves! Es la Honda CB650R!</h4>
<% } else { %>
    <h4>Nope, no es esa... <% thingVar %> mirala bien</h4>
<% } %>

<img src="https://i.blogs.es/c0a70e/honda-cb650r-2019-001/450_1000.jpg" alt="">

<!-- buscar xsr 700/900 -->
