<%- include ("partials/header") %>

<h1>
    Esto es ---HOMEAPP---
</h1>


<a href="http://localhost:3000/motos/:algo">Motos</a><br>
<a href="http://localhost:3000/posts">Posts</a>
<%- include ("partials/footer") %> 