<%- include ("partials/header") %>

<h1>
    ESTO ES --POSTS.ejs--
</h1>

<a href="http://localhost:3000/motos/:honda">Motos</a><br>
<a href="http://localhost:3000/home">Home</a><br>

<% posts.forEach(function(posts){ %>
    <li>
        <%= posts.title %> - <strong><%= posts.autor %></strong>
    </li>
<% }) %>
<%- include ("partials/footer") %> 