/* element selector */
li{

}
 /* class selector  . */
 .Hola{

 }
/* id selector  # */
#Hola{

}
/* star selector  * (selecciona toda la pagina) */ 
*{ border: 2px lightgray solid;

}

/* Descendant selector, asi seleccionas los elementos a
dentro de la li */ 
li a{ 
	color: #75BB33;
}

/* adjacent selector, selecciona elemento venidero a el
elemento seleccionado (los UL seguidos de un H3)  */
h3 + ul{
	border: 2px purple solid;
}

/* attribute selector, selecciona elementos que no tienen
id, class, los que van por libre */

/* asi seleccionas todos los LINKS */s
a[href="https://www.google.com"]{
	background: orange;
	}
/* asi seleccionas los inputs, si no damos un type
selecciona todos los inputs */
/*
input[type="a"]
*/


/* nth of type, selecciona el 1º, 2º, 3º, 4º, etc... de X elemento
 */
 li:nth-of-type(3){
 	background: blue;
 }