body{
}
/* el "float" sirve para poner en orden 
las img/o lo que sea, en horden direccion seleccionada. */

p{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #039705;
	width: 96.6%;
	padding-bottom: 20px;
}

img{
	width: 30%;
	float: left;
	margin: 1.66%;
}