body{
    background-color: #232323;
}

#TopText{
    color: white;
}
#BotText{
    color: white;
}

#ColorDisplay{
    color: white;
}

#container{
    margin: 0 auto;
    max-width: 600px;
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#stripe{
    background: white;
    height: 20px;
    text-align: center;
    color: black;
}

.selected{
    background: blue;
}