 /* cuando le damos tamaño de " font " al " body ", le damos el tamño
 de base que le apliquemos al body, es decir, el resto se basara en el 
 tamaño de font del " body " */

 body{
	font-size: 20px;
}

h1{
	font-variant: small-caps;
	font-size: 5.1em;
}

p{font-size: 0.95em;
 font-variant: normal;
}

span{
	font-family: sans-serif;
	font-size: 1.8em;
}
/*_____________________________________________*/

/*font weight, aqui le damos mas grosor a las palabras, mediante el
font-weight: bold ( es una opcion ) */

p{
	font-weight: bold;
}

/* line-height, es para darle espacio entre parrafos. */

p{
	line-height: 1.3;
}

/* text-align, para alinear texto a la izquierda, centre o derecha. */

h1{
	text-align: center;
}

p{
	text-align: right;
}

/* text-decoration, para darle efectos al parrafo como texto subrayado,
"tachado", etc */
 p{
 	text-decoration: underline;
 }

 h1{
 	text-decoration: line;
 }